[submodule "alitok"]
	path = alitok
	url = https://github.com/Xudangliatiger/alitok.git
[submodule "1d-tokenizer"]
	path = 1d-tokenizer
	url = https://github.com/Xudangliatiger/1d-tokenizer.git
[submodule "Lumina-mGPT-2.0"]
	path = Lumina-mGPT-2.0
	url = https://github.com/Xudangliatiger/Lumina-mGPT-2.0.git
[submodule "RobusTok"]
	path = RobusTok
	url = https://github.com/Xudangliatiger/RobusTok.git
